from fastapi import APIRouter, HTTPException
from pydantic import BaseModel
from app.security import create_access_token

router = APIRouter()

class LoginData(BaseModel):
    username: str
    password: str

@router.post("/login")
def login(data: LoginData):
    if data.username == "admin" and data.password == "admin":
        token = create_access_token({"sub": data.username})
        return {"access_token": token, "token_type": "bearer"}
    
    raise HTTPException(status_code=401, detail="Incorrect username or password")
